
.calculator{
    border : 1px solid rgb(206, 204, 204);
    margin: 15px;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
    height: 285px;
    text-align: center;
}
.input{
    margin: 10px;
    width: 85%;
    height: 10%;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 24%;
    height: 33px;
    margin: 2px;
}